@model IEnumerable<QuickQuestions.Models.Branch>

@{
    ViewData["Title"] = "Управление отделами";
}
<div class="row justify-content-center">
    <div class="col-md-9">
        <h1>Управление отделами</h1>

        <p>
            <a asp-action="Create">Добавить</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-9">
                        Отдел
                    </th>
                    @*
                        <th>
                        Дата добавления
                        </th>
                        <th>
                            Дата изменения
                        </th>
                    *@
                    <th ></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        @*
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateUpdated)
                            </td>
                        *@
                        <td class="text-end">
                            <a asp-action="Edit" asp-route-id="@item.ID">Изменить</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>