@using Microsoft.AspNetCore.Identity
@model QuickQuestions.Areas.Admin.Models.EditUserViewModel

@{
    ViewData["Title"] = "Edit User";
}


<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Редактировать пользователя</h2>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="UserEmail" />
            <div class="mb-3">
                <label class="form-label">Имя</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Фамилия</label>
                <input asp-for="UserSurname" class="form-control" />
                <span asp-validation-for="UserSurname" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Отчество</label>
                <input asp-for="UserPatronymic" class="form-control" />
                <span asp-validation-for="UserPatronymic" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Отдел</label>
                <select asp-for="UserBranchID" class="form-select" asp-items="ViewBag.BranchID">
                    <option value="@null" selected>Выберите отдел...</option>
                </select>
                <span asp-validation-for="UserBranchID" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <lable class="form-label">
                    Роли:
                </lable>

                @foreach (IdentityRole role in Model.AllRoles.OrderBy(r => r.Name))
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="UserRoles" value="@role.Name" id="@role.Name"
                               @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />
                        <label class="form-check-label" for="@role.Name">
                            @Html.DisplayFor(model => role.Name)
                        </label>
                    </div>
                }
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a asp-action="Index">Назад</a>
        </div>
    </div>
</div>