@model QuickQuestions.Areas.Admin.Models.IndexUserViewModel

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                Branch
                <!-- Html.DisplayNameFor(model => nameof(QuickQuestions.Models.Branch)) -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Branches.Find(item.BranchID).Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-UserId="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
