@model QuickQuestions.Areas.Admin.Models.IndexUserViewModel

@{
    ViewData["Title"] = "Управление пользователями";
}

<div class="row justify-content-center">
    <div class="col-md-9">
        <h1>Управление пользователями</h1>

        <table class="table">
            <thead>
                <tr>
                    <th class="col-4">
                        Полное имя
                    </th>
                    <th class="col-3">
                        Электронная почта
                    </th>
                    <th class="col-2">
                        Отдел
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Branches.Find(item.BranchID).Name)
                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-UserId="@item.Id">Редактировать</a> |
                            <a asp-action="Edit" asp-route-UserId="@item.Id">Ответы</a> |
                            <a asp-action="Edit" asp-route-UserId="@item.Id">Файлы</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



